.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1A5527;
  opacity: 0.75;
}

.logo img {
  height: 60px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 35px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  position: relative;
}

.nav-links a:hover {
  color: #a57a44;
}

.nav-links a.active {
  color: #a57a44;
}

.nav-links a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #a57a44;
  bottom: -5px;
  left: 0;
}

.lang-select {
  background-color: #a57a44;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.lang-select option {
  color: black;
  background-color: white;
}

.lang-select:hover {
  background-color: #8b5e30;
}
