.organizer {
  padding-top: 130px;
}
.organizer .title {
  margin-left: 100px;
  color: white;
  font-size: 19px;
  font-weight: 600;
  padding: 0;
}
.organization {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-inline: auto;
  gap: 5%;
}

.organizationIcon {
  width: 180px;
  margin-bottom: 30px;
}

.row {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.JeddahSkyline {
  width: 70%;
  margin-inline: auto;
}
